################# MRACLE #################

# NOTE: Change path like variables to your own path

TEMP=0

################# DEPLOYMENT PATHS ######################
LIBRARY_BASE_PATH=/home/orhun/Desktop/MRacle
DATA_DIR=/home/orhun/Desktop/MRacle/data

################# DEPLOYMENT #################
DEV_DEPLOYMENT_HOST=0.0.0.0
DEV_DEPLOYMENT_PORT=8000

################# APP SETTINGS #################
LOG_CONFIG_PATH=log_conf.yaml
